@media only screen and (min-width: 1000px) {
    

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
       
     }

.logo{
   height: 100px;
   width: 200px;

}
 

#navbarNav{
    font-weight: bolder;
}
#content{
    float:left;
}
#side-menu{
    float: left;
}
#bus_form{
    float: left;
}
/* sign */
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 20px;
    margin-left: 200px;
}
.check-box{
    margin:30px 10px 30px 0;
}
.span{
    color:#777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
}